@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Lobster&display=swap');


body {
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-family: 'Lobster', cursive;
    margin: 0;
}

h2 {
    font-size: 2rem;
    height: fit-content;
    font-family: 'Josefin Slab', serif;
}

h3{
    font-family: 'Josefin Slab', serif;
    font-size: 21px;
    margin: 0;
}


/* Header och Nav CSS */

.header_universal {
    grid-area: heu;
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav_universal {
    grid-area: nau;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid;
    width: 90%;
    justify-self: center;
}

.nav_button {
    background: none;
    color: black;
    font-size: 16px;
    border: solid;
    border-radius: 20%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: whitesmoke;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}



/* Hem sidans css */

#container_home {
    background: repeating-linear-gradient(0deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    height: 98vh;
    display: grid;
    row-gap: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2vh;
    grid-template-columns: 1fr 88%;
    grid-template-rows: auto 50px 3fr 2fr;
    grid-template-areas:
        'heu heu'
        'nau nau'
        'ash pih'
        'pbl pbl';
}

#aside_home {
    grid-area: ash;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 5%;
}

#aside_home h3 {
    margin-bottom: 0px;
    text-align: center;
}

#aside_home ul {
    margin-top: 8px;
}

#aside_home li:hover {
    color: white;
    text-decoration: underline;
}


#pictures_home {
    grid-area: pih;
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 50% 1fr;
    grid-template-areas:
        'ac al'
        'ac al';
}

#animal_collage {
    grid-area: ac;
    row-gap: 5px;
    column-gap: 5px;
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 50% 1fr;
    grid-template-areas:
        'a1 a2'
        'a3 a4';
}

#animal_photo1 {
    background-image: url(/img/animals/animal1.png);
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: a1;
}

#animal_photo2 {
    background-image: url(/img/animals/animal2.png);
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: a2;
}

#animal_photo3 {
    background-image: url(/img/animals/animal3.png);
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: a3;
}

#animal_photo4 {
    background-image: url(/img/animals/animal4.png);
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: a4;
}

#animal_large {
    grid-area: al;
    background-image: url(/img/animals/snake_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -14vw;
    margin-right: -20px;
}


#picture_bottom_large {
    grid-area: pbl;
}

/* Meny sidans css */

#container_menu {
    background: repeating-linear-gradient(0deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    height: auto;
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    row-gap: 5px;
    column-gap: 5px;
    padding-bottom: 2vh;
    grid-template-rows: auto 50px auto auto auto;
    grid-template-areas:
        'heu'
        'nau'
        'str'
        'mac'
        'des';
}

.menu_section{
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 10px;
}

#starter {
    grid-area: str;
}

#maincourse {
    grid-area: mac;
}

#desert {
    grid-area: des;
}

.menu_item{
    display: flex;
    background-color: white;
    width: 256px;
    height: 412px;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10%;
    margin-right: 3rem;
    margin-left: 3rem;
}

.menu_item h3{
    width: 100%;
    text-align: center;
}

.menu_item img{
    background-color: black;
    height: 256px;
    width: 100%;
    border-radius: 10% 10% 0% 0%;
}

#container_menu h2{
    text-align: center;
    width: 100%;
    text-decoration: underline;
}

/* Om oss sidans css */

#container_about_us {
    background: repeating-linear-gradient(0deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    height: 200vh;
    padding-left: 20px;
    padding-right: 20px;
    row-gap: 5px;
    column-gap: 5px;
    display: grid;
    grid-template-rows: auto 50px 1fr 1fr 1fr;
    grid-template-areas:
        'heu'
        'nau'
        'loc'
        'cou'
        'emp';
}

#location {
    grid-area: loc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 10px;
}

#location_text_div{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

#container_about_us h2 {
    width: 100%;
    text-align: center;
    text-decoration: underline;
}


#contact_us {
    grid-area: cou;
}

#employees {
    grid-area: emp;
}