body{
    margin: 0;
}

.header_universal{
    grid-area: heu;

}

.nav_universal{
    grid-area: nau;

}

/* Hem sidans css */

#container_home{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 80px 40px 5fr 3fr;
    grid-template-areas: 
    'heu heu'
    'nau nau'
    'ash p1h'
    'p2h p2h';
}



#aside_home{
    grid-area: ash;
}

#pictures_1_home{
    grid-area: p1h;
}

#pictures_2_home{
    grid-area: p2h;
}

/* Meny sidans css */

#container_menu{
        height: auto;
        display: grid;
        grid-template-rows: 80px 40px auto auto auto; 
        grid-template-areas: 
        'heu'
        'nau'
        'str'
        'mac'
        'des';
    } 

#starter{
    grid-area: str;
    min-height: 200px;
    display: flex;
}

#maincourse{
    grid-area: mac;
    min-height: 200px;
    display: flex;

}

#desert{
    grid-area: des;
    min-height: 200px;
    display: flex;

}

/* Om oss sidans css */

#container_about_us{
    height: 140vh;
    display: grid;
    grid-template-rows: 80px 40px 1fr 1fr 1fr; 
    grid-template-areas: 
    'heu'
    'nau'
    'plc'
    'abz'
    'emp';
} 

#place{
    grid-area: plc;
    background-color: blue;
}

#about_zoo{
    grid-area: abz;
    background-color: red;
}

#employees{
    grid-area: emp;
    background-color: aqua;
}